@font-face {
  font-family: 'W95FA';
  src: url(assets/fonts/w95fa.woff2) format('woff2');
  font-weight: 200;
  font-display: fallback;
}

:root {
  --win95blue: #008081;
  --win95gray: #c0c0c0;
  --win95darkgray: #808080;
  --win95deepblue: #160081;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'W95FA';
  background-color: var(--win95blue);
  cursor: url("assets/cursors/arrow.cur"), auto;
}

::-webkit-scrollbar {
  width: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border: 1px solid #000;
  border-collapse: collapse;
}

.header-inner {
  background-color: var(--win95gray);
  font-size: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-misk,
.header-icon {
  display: flex;
  height: 40px;
  border: 1px solid var(--win95darkgray);
  box-shadow: inset 1px 1px #fff;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
}

.header-icon p {
  margin-top: 3px;
}

.lang {
  background-color: var(--win95deepblue);
  height: 40px;
  color: #fff;
}

.time {
  margin: 0 20px;
}

.main .container {
  background-image: url(assets/img/background.jpg);
  background-size: cover;
}

.slider-wrapper {
  width: calc(100vw - 100px);
  height: calc(100vh - 150px);
  min-height: 850px;
  max-width: 1400px;
  margin: 0 auto;
}

.meme-slider {
  max-width: 1260px;
  max-height: 900px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  row-gap: 30px;
}

.slides {
  display: flex;
  position: relative;
  order: -1;
  transition: .5s;
}

.slide {
  width: calc(100vw - 100px);
  max-width: 1260px;
}

.slide img {
  background: #fff;
  width: 100%;
}

.text-slider {
  margin-right: 40%;
  width: 30vw;
  max-width: 590px;
  text-align: left;
  order: -1;
  overflow: hidden;
}

.text-slider * {
  margin: 0;
  padding: 0;
}

.text-line {
  display: flex;
  width: 120vw;
  overflow-x: auto;
  font-size: 20px;
  transition: .5s;
}

.text {
  padding-top: 20px;
  padding-left: 20px;
  width: 30vw;
  height: 40px;
  background-color: var(--win95deepblue);
  color: #fff;
  box-shadow: inset 1px 1px #fff;
  border: 1px solid #000;
}

input {
  display: none;
}

label {
  cursor: url("assets/cursors/pointer.cur"), auto;
  width: 20px;
  height: 20px;
  padding: 10px;
}

.slider-pagination {
  display: flex;
}

.custom-radio {
  width: 20px;
  height: 20px;
  background-color: var(--win95gray);
  box-shadow: inset 1px 1px #fff;
  border: 1px solid var(--win95darkgray);
  box-sizing: border-box;
  transition: .1s;
}

label:hover .custom-radio {
  background-color: #b4b4b4;
  border: 3px solid #000;
}

#first:checked~.slides {
  transform: translateX(0);
}

#first:checked~.text-slider .text-line {
  transform: translateX(0);
}

#first:checked~.slider-pagination .custom-radio.first {
  background-color: var(--win95deepblue);
}

#second:checked~.slides {
  transform: translateX(-25%);
}

#second:checked~.text-slider .text-line {
  transform: translateX(-25%);
}

#second:checked~.slider-pagination .custom-radio.second {
  background-color: var(--win95deepblue);
}

#third:checked~.slides {
  transform: translateX(-50%);
}

#third:checked~.text-slider .text-line {
  transform: translateX(-50%);
}

#third:checked~.slider-pagination .custom-radio.third {
  background-color: var(--win95deepblue);
}

#fourth:checked~.slides {
  transform: translateX(-75%);
}

#fourth:checked~.text-slider .text-line {
  transform: translateX(-75%);
}

#fourth:checked~.slider-pagination .custom-radio.fourth {
  background-color: var(--win95deepblue);
}

.container.footer {
  background-color: var(--win95gray);
  height: 100px;
}

.footer-inner {
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

.footer-inner a {
  border: 1px solid var(--win95darkgray);
  box-shadow: inset 1px 1px #fff;
  padding: 5px;
  transition: .1s;
}

.footer-inner a:hover {
  background-color: #b4b4b4;
}

@media (max-width:1000px) {
  .header-inner {
    font-size: 30px;
  }
  .header-inner p {
    margin-top: 6px;
  }
  .lang {
    height: 30px;
  }
  .slider-wrapper {
    min-height: 600px;
  }
  .text-slider,
  .text {
    width: calc(100vw - 100px);
    padding-left: 0;
    margin-right: 0;
    max-width: 980px;
    overflow-wrap: anywhere;
    order: 1;
  }
  .text-line {
    width: calc(400vw - 400px);
  }
  .slider-pagination {
    flex-basis: 100%;
    justify-content: center;
  }
}